/**
 * @file credentials.h
 * @brief Credenciais de WiFi e MQTT.
 *
 * Copie este arquivo para credentials.h e preencha com seus dados:
 *   cp credentials.h.template credentials.h
 */
#pragma once

#define WIFI_SSID       "NOME_DA_REDE"
#define WIFI_PASSWORD   "SENHA_DA_REDE"

#define MQTT_BROKER_URI "mqtts://SEU_CLUSTER.s1.eu.hivemq.cloud:8883"
#define MQTT_USERNAME   "SEU_USUARIO"
#define MQTT_PASSWORD   "SUA_SENHA"

#define MQTT_TOPIC_DATA "estacao/sjc/dados"
